.container{
    display: grid;
    grid-template-columns: repeat(16, 0fr);
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.square-item{
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid black;
    width: 75px;
    height: 50px;

}