.container{
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.square-item{
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: -1px;
    margin-top: -1px;
}


/* BUTTON */

button{
    display: block;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px;
    margin: 20px auto 40px auto;
}
